.App {
  background-color: #d62c2c;
  width: 400px;
  height: 100%;;
  margin: auto;
}

.userlist {background-color: #220a0a;
  width: 100%;
  height: 64px;;
}

.chat {background-color: #cccccc;
  width: 100%;
  height: 100%;;
}

.inputbox {background-color: #444444;
  width: 100%;
  height: 64px;;
}